<aside class="menu">
    <p class="menu-label">Información</p>
    <ul class="menu-list">
        <li><a href="/volta">¿Quiénes somos?</a></li>
        <li><a href="/volta/support">Apóyanos</a></li>
        <li><a href="/volta/socials">Contacto</a></li>
    </ul>
    <p class="menu-label">Proceso</p>
    <ul class="menu-list">
        <li><a href="/volta/history">Historia</a></li>
        <li><a href="/volta/projects">Proyectos</a></li>
        <li><a href="/volta/training">Formación</a></li>
    </ul>
</aside>