<aside class="menu">
    <p class="menu-label">Información general</p>
    <ul class="menu-list">
        <li><a id="menu-item" class="is-active" href="#info">¿Qué es?</a></li>
        <li><a id="menu-item" href="#themes">Temáticas</a></li>
        <li><a id="menu-item" href="#contact">Contacto</a></li>
    </ul>
    <!-- <p class="menu-label">CODEAC - 2023</p>
    <ul class="menu-list">
        <li><a id="menu-item" href="#participation">¿Cómo participar?</a></li>
        <li><a id="menu-item" href="#schedule">Cronograma</a></li>
        <li><a id="menu-item" href="#guide">Guía del visitante</a></li>
        <li><a id="menu-item" href="#ubication">Ubicación</a></li>
    </ul> -->
    <p class="menu-label">Eventos pasados</p>
    <ul class="menu-list">
        <li><a id="menu-item" href="#2023">2023</a></li>
    </ul>
</aside>