<aside class="menu">
    <p class="menu-label">Información</p>
    <ul class="menu-list">
        <li><a href="/groups/volta">¿Quiénes somos?</a></li>
        <li><a href="/groups/volta/support">Apóyanos</a></li>
        <li><a href="/groups/volta/socials">Contacto</a></li>
    </ul>
    <p class="menu-label">Proceso</p>
    <ul class="menu-list">
        <li><a href="/groups/volta/history">Historia</a></li>
        <li><a href="/groups/volta/projects">Proyectos</a></li>
        <li><a href="/groups/volta/training">Formación</a></li>
    </ul>
</aside>