<aside class="menu">
    <p class="menu-label">Información</p>
    <ul class="menu-list">
        <li><a href="/events/cicta">Conferencia</a></li>
        <li><a href="/events/cicta/multimedia">Multimedia</a></li>
        <li><a href="/events/cicta/subjects">Temáticas</a></li>
        <li><a href="/events/cicta#contact">Contacto</a></li>
    </ul>
    <p class="menu-label">CICTA X</p>
    <ul class="menu-list">
        <li><a href="/events/cicta/authors">Autores</a></li>
        <!-- <li><a href="/events/cicta/registration">Registration</a></li> -->
        <!-- <li><a href="#programme">Programme</a></li> -->
        <!-- <li><a href="#ubication">Ubication</a></li> -->
    </ul>
</aside>