<aside class="menu">
    <p class="menu-label" data-section="menu_cicta" data-value="Informacion">Información</p>
    <ul class="menu-list">
        <li><a data-link="events/cicta" data-section="menu_cicta" data-value="Conferencia">Conferencia</a></li>
        <li><a data-link="events/cicta/subjects" data-section="menu_cicta" data-value="Temáticas">Temáticas</a></li>
        <li><a data-link="events/cicta#contact" data-section="menu_cicta" data-value="Contacto">Contacto</a></li>
    </ul>
    <!-- <p class="menu-label">CICTA X</p>
    <ul class="menu-list">
        <li><a href="/events/cicta/authors">For authors</a></li>
        <li><a href="/events/cicta/registration">Registration</a></li>
        <li><a href="#programme">Programme</a></li>
        <li><a href="#ubication">Ubication</a></li>
    </ul> -->
</aside>